.signup-form-input-container {
    /* display: flex;
    align-items: baseline;
    justify-content: left; */
    justify-content: flex-start !important;
    /* padding: 5px;
    margin: 5px; */
}

.signup-form-input-secondary {
    margin-top: 20px !important;
}

.signup-form-input-container div {
    /* display: flex;
    align-items: baseline;
    justify-content: left; */
    padding: 5px;
    margin: 5px;
}

#submitButton {
    margin-top: 25px;
}